.App {
    font-family: sans-serif;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.blocked {
    background-color: darkgrey;
}

.ball {
    background-color: red;
    border-radius: 50%;
}

.spot {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 0;
  }
  
  .Y {
    background-color: green;
    border-radius: 30%;
  }